<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
    </head>
    <body>
    <th:block th:include="header::header"></th:block>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form th:action="@{/admin/addquestion}" th:object="${questionDTO}" method="post">
                    <div class="form-group">
                        <label for="questionName">Question name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="questionName"
                               name="login" placeholder="Enter question name">
                    </div>
                    <div class="form-group">
                        <label for="questionText">Question text</label>
                        <input type="text" th:field="*{text}" class="form-control" id="questionText"
                               name="login" placeholder="Enter question text">
                    </div>
                    <div class="form-group">
                        <label for="level">Level</label>
                        <input type="number" th:field="*{level}" class="form-control" id="level"
                               name="login" placeholder="Enter level">
                    </div>
                    <div class="form-group">
                        <label for="answer1">Answer1</label>
                        <input type="text" th:field="*{answer1}" class="form-control" id="answer1"
                               name="login" placeholder="Enter Answer1">
                    </div>
                    <div class="form-group">
                        <label for="answer2">Answer2</label>
                        <input type="text" th:field="*{answer2}" class="form-control" id="answer2"
                               name="login" placeholder="Enter Answer2">
                    </div>
                    <div class="form-group">
                        <label for="answer3">Answer3</label>
                        <input type="text" th:field="*{answer3}" class="form-control" id="answer3"
                               name="login" placeholder="Enter Answer3">
                    </div>
                    <div class="form-group">
                        <label for="answer4">Answer4</label>
                        <input type="text" th:field="*{answer4}" class="form-control" id="answer4"
                               name="login" placeholder="Enter Answer4">
                    </div>
                    <div class="form-group">
                        <label for="correctAnswer">Correct Answer</label>
                        <input type="text" th:field="*{correctAnswer}" class="form-control" id="correctAnswer"
                               name="login" placeholder="Enter correct answer">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
</html>