<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <div class="container">

    </div>
    <form th:action="@{/registration}" th:object="${studentDTO}" method="post">
        <div>
            <label for="name">name</label>
            <input id="name" type="text" th:field="*{name}">
        </div>
        <div>
            <label for="lastName">lastName</label>
            <input id="lastName" type="text" th:field="*{lastName}">
        </div>
        <div>
            <label for="login">login</label>
            <input id="login" type="text" th:field="*{login}">
        </div>
        <div>
            <label for="password">password</label>
            <input id="password" type="password" th:field="*{password}">
        </div>

        <button type="submit">Submit</button>
    </form>
    </body>
</html>